{% extends "admin/change_list.html" %}
{% load static %}

{% block object-tools-items %}
    {{ block.super }}
    
    {% if has_import_export %}
        <li>
            <a href="{% url 'admin:assessments_multiplechoicequestion_export_csv' %}" class="button">
                CSV 내보내기
            </a>
        </li>
        <li>
            <a href="{% url 'admin:assessments_multiplechoicequestion_export_json' %}" class="button">
                JSON 내보내기
            </a>
        </li>
        <li>
            <a href="{% url 'admin:assessments_multiplechoicequestion_import_csv' %}" class="addlink">
                CSV 가져오기
            </a>
        </li>
        <li>
            <a href="{% url 'admin:assessments_multiplechoicequestion_import_json' %}" class="addlink">
                JSON 가져오기
            </a>
        </li>
    {% endif %}
{% endblock %}